.git
.github
.idea
.env
.env.example
.editorconfig
.styleci.yml
.gitattributes
.gitignore
node_modules
vendor
storage/app/public
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log
public/storage
docker-compose.yml
Dockerfile
README.md
